body {
  font-family: "PTSans";
  font-weight: normal;
  color: #000000;
  line-height: 1.2;
  font-size: 14px;
  text-transform: uppercase;
}

h1 {
  font-size: 21px;
  line-height: 1.238;
}

h2 {
  font-size: 14px;
  line-height: 1.5;
  font-weight: normal;
}
